<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Presentation SOLID</title>

    <script src="/js/jquery-3.6.1.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="w-25 align-self-center">
        <form id="form">
        <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Email address</label>
                <input name="email" type="email" id="form2Example1" class="form-control" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example2">Password</label>
                <input name="password" type="password" id="form2Example2" class="form-control" />
            </div>

            <!-- Submit button -->
            <button id="submit" type="button" class="btn btn-primary btn-block mb-4">Send</button>
        </form>

        <div id="responseContent" style="white-space: pre-wrap;"></div>
    </div>
</body>
</html>