<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Presentation SOLID</title>

    <script src="/js/jquery-3.6.1.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="w-25 align-self-center">
    <div class="menu">{{navItem}}</div>

    <form id="form" action="/v2/{{action}}}">
        {{input}}

        <button id="submit" type="button" class="btn btn-primary btn-block mb-4">Send</button>
    </form>

    <div id="responseContent" style="white-space: pre-wrap;"></div>
</div>
</body>
</html>